{% extends 'payments/default.html' %}

{% block title %}QIIME - Workshop: {{ workshop.title }}{% endblock %}

{% block header %}{{ workshop.title }}{% endblock %}

{% block content %}
    <p>{{ workshop.description }}</p>
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for field in form %}
                {% if field.errors %}
                    <li>{{ field.name }}: {{ field.errors|join:', ' }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        {{ form.email }}
        <table>
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Rate Type</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for rate in rates %}
                {% if field.name != 'email' %}
                    <tr>
                        <td>
                            {{ rate.field }}
                        </td>
                        <td>
                            {{ rate.name }}
                        </td>
                        <td>
                            {{ rate.price }}
                        </td>
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Continue">
    </form>
{% endblock %}
