{% extends 'payments/default.html' %}

{% block title %}QIIME - Workshop: {{ workshop.title }}{% endblock %}

{% block header %}{{ workshop.title }}{% endblock %}

{% block content %}
    <small><strong>When:</strong> {{ workshop.start_date }}</small><br/>
    <small><strong>Where:</strong> {{ workshop.location }}</small><br />
    <p>{{ workshop.description | linebreaks }}</p>
    <h3 align="center">Register Now!</h3>
    <div>
        {% if form.errors %}
            {% for name, error in form.errors.items %}
                {% if name == '__all__' %}
                    <li>Order: {{ error }}</li>
                {% else %}
                    <li>{{ name | capfirst }}: {{ error }}</li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.email }}
        <table>
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Rate Type</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for rate in rates %}
                {% if field.name != 'email' %}
                    <tr>
                        <td>
                            {{ rate.field }}
                        </td>
                        <td>
                            {{ rate.name }}
                        </td>
                        <td>
                            {{ rate.price }}
                        </td>
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Continue" />
    </form>
{% endblock %}
