{% if user.is_authenticated %}
    <div class="alert alert-warning">
      You are currently logged in. The content available to you may
      differ from that of an anonymous user.
    </div>
  {% if workshop.draft or workshop.is_at_capacity %}
    <div class="alert alert-danger">
      Current workshop is
      {% if not workshop.public %}
        a private workshop that is
      {% endif %}
      {% if workshop.draft %}
        marked as draft,
      {% elif workshop.is_at_capacity %}
        sold out,
      {% endif %}
      and is only viewable by site administrators.
    </div>
  {% endif %}
{% endif %}
