{% load static %}
{% load subdomainurls %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title" charset="utf-8">
  {% if debug %}
    <script src="http://localhost:35729/livereload.js" charset="utf-8"></script>
  {% endif %}
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <img class="header" src="{% static 'img/qiime_logo_large.png' %}" alt="QIIME">
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-sidebar pull-right text-right">
          <li>
            <a href="http://qiime.org/index.html">Home</a>
          </li>
          <li>
            <a href="{% url 'payments:index' subdomain='workshops' %}">Workshops</a>
          </li>
        </ul>
      </div>

      <div class="col-md-10">
        <div class="dotted-vertical">
          <h1 class="dotted-horizontal" >
            {% block header %}{% endblock %}
            <img src="{% static 'img/spacer_dots.png' %}" alt="...">
          </h1>
          {% block content %}{% endblock %}
          <p>{{ TECHNICAL_CONTACT|safe }}</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="center-block">
            <img class="center-block" src="{% static 'img/spacer_dots.png' %}">
          </div>
        </div>
        <div class="row">
          <div class="center-block">
            <span class="center-block text-center">&copy; Copyright 2015--, QIIME development team.</span>
          </div>
        </div>
        <div class="row">
          <div class="center-block">
            <span>
              <a href="http://scikit-bio.org/">
                <img class="center-block" width="412px" src="{% static 'img/powered_by_skbio.png' %}" alt="Powered by scikit-bio">
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
</html>
