{% extends 'payments/base.html' %}

{% block title %}QIIME - Workshop: {{ workshop.title }}{% endblock %}

{% block header %}Workshop:<br/ >{{ workshop.title }}{% endblock %}

{% block content %}
<form method="post" action="">
  {{ formset.management_form }}
  {% csrf_token %}
  <table>
    {% for pair in zipped %}
      <tr>
          <td>{{ pair.form.as_p }}</td>
          <td>{{ pair.rate }}</td>
      </tr>
    {% endfor %}
  </table>
  <input type="submit" value="Continue" />
</form>
{% endblock %}
