{% extends 'payments/base.html' %}
{% load form_errors %}

{% block title %}QIIME: {{ workshop.title }}{% endblock %}
{% block header %}{{ workshop.title }}{% endblock %}

{% block content %}
{% include 'payments/_draft_notice.html' %}
<p>Each ticket order must have contact info.</p>

{% form_errors formset %}
<form method="post" action="">
  {{ formset.management_form }}
  {% csrf_token %}
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      {%if zipped.0.form.poster_option%}<th>Poster Session</th>{%endif%}
      <th>Ticket Rate</th>
    </tr>
    {% for pair in zipped %}
      <tr class="form-group">
        <td class="control-group {%if pair.form.name.errors %}has-error{%endif%}">
          {% if pair.form.name.errors %}
            <label class="control-label">
              {{ pair.form.name.errors|join:", " }}
            </label>
          {% endif %}
          {{ pair.form.name }}
        </td>
        <td class="control-group {%if pair.form.email.errors %}has-error{%endif%}">
          {% if pair.form.email.errors %}
            <label class="control-label">
              {{ pair.form.email.errors|join:", " }}
            </label>
          {% endif %}
          {{ pair.form.email }}
        </td>
        {% if pair.form.poster_option %}
        <td class="control-group {%if pair.form.poster_option.errors %}has-error{%endif%}">
          {% if pair.form.poster_option.errors %}
            <label class="control-label">
              {{ pair.form.poster_option.errors|join:", " }}
            </label>
          {% endif %}
          {{ pair.form.poster_option }}
        </td>
        {% endif %}
        <td>{{ pair.rate }} {{ pair.form.rate }}</td>
      </tr>
    {% endfor %}
  </table>
  <input type="submit" class="btn btn-primary pull-right" value="Continue" />
</form>
{% endblock %}
