{% extends 'payments/base.html' %}

{% block title %}QIIME - Workshop: {{ workshop.title }}{% endblock %}

{% block header %}Workshop:<br/ >{{ workshop.title }}{% endblock %}

{% block content %}
  {% include 'payments/_draft_notice.html' %}

  <p>The following is a summary of the order. Please use the 'back'
  functionality of your browser to fix any errors. If this looks okay, press
  'Submit' to begin the payment process. Note: you will be taken to an off-site
  location to complete payment. You will have the option to print or email your
  reciept at time of payment</p><br />

  <dl class="dl-horizontal">
    <dt>Title</dt>
    <dd>{{ workshop.title }}</dd>

    <dt>Dates</dt>
    <dd>{{ workshop.start_date }} - {{ workshop.end_date }}</dd>

    <dt>Order Contact Name</dt>
    <dd>{{ order_name }}</dd>

    <dt>Order Contact Email</dt>
    <dd>{{ order_email }}</dd>

    <dt>Order Total</dt>
    <dd>{{ order_total }} USD</dd>
  </dl>

  <table class="table">
    <tr>
      <th>Ticketholder Name</th>
      <th>Ticketholder Email</th>
      <th>Ticket Rate</th>
    </tr>
    {% for ticket in tickets %}
      <tr>
        <td>{{ ticket.name }}</td>
        <td>{{ ticket.email }}</td>
        <td>{{ ticket.rate }}</td>
      </tr>
    {% endfor %}
  </table>
  <form method="post" action="{% url 'payments:submit' %}">
    {% csrf_token %}
    <input type="submit" class="btn btn-primary pull-right"/>
  </form>
{% endblock %}
