{% extends 'payments/base.html' %}

{% block title %}QIIME - Workshops{% endblock %}
{% block header %}Workshops{% endblock %}
{% block content %}
{% comment %}
<!-- Drop the is_authenticated check when we go live in prod -->
{% endcomment %}
{% if user.is_authenticated %}
  <h3>Upcoming Workshops</h3>
  {% if upcoming_workshops %}
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Location</th>
          <th>Workshop Dates</th>
        </tr>
      </thead>
      <tbody>
        {% for workshop in upcoming_workshops %}
          <tr>
            <td><a href="{% url 'payments:details' workshop.slug %}">{{ workshop.title }}</a></td>
            <td>{{ workshop.location }}</td>
            <td>{{ workshop.start_date }} - {{ workshop.end_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No upcoming workshops</p>
  {% endif %}
{% endif %}
  <div>
    <p>
      See <a href="https://github.com/biocore/qiime/wiki/Official-QIIME-workshops">here</a>
      for information on hosting or attending an official QIIME workshop.
    </p>
  </div>
{% endblock %}
