{% extends 'payments/base.html' %}

{% block title %}QIIME - Workshop: {{ workshop.title }}{% endblock %}

{% block header %}Workshop:<br/ >{{ workshop.title }}{% endblock %}

{% block content %}
  {% include 'payments/_draft_notice.html' %}

  <dl class="dl-horizontal">
    <dt>When</dt>
    <dd>{{ workshop.start_date }} - {{ workshop.end_date }}</dd>

    <dt>Where</dt>
    <dd>{{ workshop.location }}</dd>

    <dt>Description</dt>
    <dd>{{ workshop.description | safe | linebreaks }}</dd>
  </dl>

  {% if workshop.is_open or user.is_authenticated %}
    <hr />

    <h3>Register Now!</h3>

    {% if form.errors %}
      <div class="alert alert-danger">
        <ul>
          {% for name, errors in form.errors.items %}
            {% if name == '__all__' %}
              <li>{{ errors|join:', ' }}</li>
            {% else %}
              <li>{{ name | capfirst }}: {{ errors|join:', ' }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      {{ form.email }} <br />
      <p>Each ticket purchased as part of an order needs a unique email address.</p>
      <table class="table">
        <thead>
          <tr>
            <th class="col-xs-2">Ticket Quantity</th>
            <th>Rate Type</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for rate in rates %}
            <tr>
              <td>{{ rate.field }}</td>
              <td>{{ rate.name }}</td>
              <td>{{ rate.price }} USD</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <input type="submit" class="btn btn-primary pull-right" value="Continue" />
    </form>
  {% endif %}
{% endblock %}
