{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title" charset="utf-8">
  {% if debug %}
    <script src="http://localhost:35729/livereload.js" charset="utf-8"></script>
  {% else %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-86671044-5', 'auto');
      ga('send', 'pageview');
    </script>
  {% endif %}
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <img class="header" src="{% static 'img/q2workshops.svg' %}" alt="QIIME">
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-sidebar pull-right text-right">
          <li>
            <a href="http://qiime2.org">Home</a>
          </li>
          <li>
            <a href="{% url 'payments:index' %}">Workshops</a>
          </li>
        </ul>
      </div>

      <div class="col-md-10">
        <div class="dotted-vertical">
          {% block content %}{% endblock %}
          <p>{{ TECHNICAL_CONTACT|safe }}</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="center-block">
          <span class="center-block text-center">&copy; Copyright 2016--, QIIME 2 development team.</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
