{% extends 'payments/base.html' %}
{% load form_errors %}

{% block 'title' %}QIIME 2: {{ workshop.title }}{% endblock %}

{% block 'content' %}
<h1>{{ workshop.title }}</h1>
<p>Each ticket order must have contact info.</p>
<div id="instructions"></div>

{% form_errors formset %}
<form method="post" action="">
  {{ formset.management_form }}
  {% csrf_token %}
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      {%if zipped.0.form.poster_option%}<th>Poster Session</th>{%endif%}
      {%if zipped.0.form.meeting_option%}<th>Interactive Session</th>{%endif%}
      <th>Ticket Rate</th>
    </tr>
    {% for pair in zipped %}
      <tr>
        <td class="field">
          {% if pair.form.name.errors %}
            <label class="help is-danger">
              {{ pair.form.name.errors|join:", " }}
            </label>
          {% endif %}
          {{ pair.form.name }}
        </td>
        <td class="field">
          {% if pair.form.email.errors %}
            <label class="help is-danger">
              {{ pair.form.email.errors|join:", " }}
            </label>
          {% endif %}
          {{ pair.form.email }}
        </td>
        {% if pair.form.poster_option %}
        <td class="field">
          {% if pair.form.poster_option.errors %}
            <label class="has-text-danger">
              {{ pair.form.poster_option.errors|join:", " }}<br>
            </label>
          {% endif %}
          {{ pair.form.poster_option }}
        </td>
        {% endif %}
        {% if pair.form.meeting_option %}
        <td class="field">
          {% if pair.form.meeting_option.errors %}
            <label class="has-text-danger">
              {{ pair.form.meeting_option.errors|join:", " }}<br>
            </label>
          {% endif %}
          {{ pair.form.meeting_option }}
        </td>
        {% endif %}
        <td>{{ pair.rate }} {{ pair.form.rate }}</td>
      </tr>
    {% endfor %}
  </table>
  <input type="submit" class="button" value="Continue" />
</form>
{% endblock %}

{% block 'footer' %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
  var opts = {
    smartLists: true,
    sanitize: true,
  };
  document.getElementById('instructions').innerHTML = marked('{{ workshop.inline_purchase_instructions|escapejs }}', opts);
</script>
{% endblock %}
