{% extends 'payments/base.html' %}

{% block 'title' %}QIIME 2: {{ workshop.title }}{% endblock %}

{% block 'content' %}
  <h1>{{ workshop.title }}</h1>

  <p>
    The following is a summary of the order. Please use the 'back'
    functionality of your browser to fix any errors. If this looks okay, press
    'Submit Order' below to begin the payment process. Note: you will be taken
    to an off-site location to complete payment (payments are facilitated in
    part by Northern Arizona University, NAU). You will have the option to
    print or email your receipt at time of payment. Please do not proceed to
    next screen until you are ready to provide payment details.
  </p><br />

  <dl>
    <dt><strong>Title</strong></dt>
    <dd>{{ workshop.title }}</dd>

    <dt><strong>Dates</strong></dt>
    <dd>{{ workshop.start_date }} - {{ workshop.end_date }}</dd>

    <dt><strong>Order Contact Name</strong></dt>
    <dd>{{ order_name }}</dd>

    <dt><strong>Order Contact Email</strong></dt>
    <dd>{{ order_email }}</dd>

    <dt><strong>Order Total</strong></dt>
    <dd>{{ order_total }} USD</dd>
  </dl>

  <table class="table">
    <tr>
      <th>Ticketholder Name</th>
      <th>Ticketholder Email</th>
      {%if workshop.posteroption_set.count %}
        <th>Poster Session Interest</th>
      {%endif%}
      {%if workshop.meetingoption_set.count %}
        <th>Interactive Session Interest</th>
      {%endif%}
      <th>Ticket Rate</th>
    </tr>
    {% for ticket in tickets %}
      <tr>
        <td>{{ ticket.name }}</td>
        <td>{{ ticket.email }}</td>
        {%if workshop.posteroption_set.count %}
          <td>{{ ticket.poster }}</td>
        {%endif%}
        {%if workshop.meetingoption_set.count %}
          <td>{{ ticket.meeting }}</td>
        {%endif%}
        <td>{{ ticket.rate }}</td>
      </tr>
    {% endfor %}
  </table>
  <form method="post" action="{% url 'payments:submit' %}">
    {% csrf_token %}
    <input type="submit" class="button" value="Submit Order"/>
  </form>
{% endblock %}
