{% extends 'payments/base.html' %}
{% load form_errors %}

{% block 'title' %}QIIME 2: {{ workshop.title }}{% endblock %}

{% block 'content' %}
  <h1>{{ workshop.title }}</h1>
  {% include 'payments/_draft_notice.html' %}

  {% if messages %}
    <div class="alert alert-warning">
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}

  <dl>
    <dt><strong>When</strong></dt>
    <dd>{{ workshop.start_date }} - {{ workshop.end_date }}</dd>

    <dt><strong>Where</strong></dt>
    <dd>{{ workshop.location }}</dd>

    {% if workshop.url %}
      <dt><strong>URL</strong></dt>
      <dd><a href="{{ workshop.url }}">{{ workshop.url }}</a></dd>
    {% endif %}

    <dt><strong>Description</strong></dt>
    <dd>{{ workshop.description | safe }}</dd>
    {{ workshop.description.media }}
  </dl>

  {% if workshop.is_open or rates or user.is_authenticated %}
    <hr />

    <h3>Register Now!</h3>

    {% form_errors form %}

    <form method="POST">
      {% csrf_token %}
      <div class="field">
        <label class="label">{{ form.name.label }}</label>
        <div class="control">{{ form.name }}</div>
        <p class="help">{{ form.name.help_text }}</p>
        {% if form.name.errors %}<p class="help is-danger">{{ form.name.errors.as_text }}</p>{% endif %}
      </div>
      <div class="field">
        <label class="label">{{ form.email.label }}</label>
        <div class="control">{{ form.email }}</div>
        <p class="help">{{ form.email.help_text }}</p>
        {% if form.email.errors %}<p class="help is-danger">{{ form.email.errors.as_text }}</p>{% endif %}
      </div>
      <p>
        Each ticket purchased as part of an order will need a unique email
        address (these will be collected on the next step).
      </p>
      <table class="table">
        <thead>
          <tr>
            <th>Ticket Quantity</th>
            <th>Rate Type</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for rate in rates %}
            <tr>
              <td>{{ rate.field }}</td>
              <td>{{ rate.name }}</td>
              <td>{{ rate.price }} USD</td>
              <td class="text-danger">{{ rate.sold_out|yesno:"Sold Out," }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div>
        <input type="submit" class="button" value="Continue" />
      </div>
    </form>
  {% endif %}
{% endblock %}
